body {
    font-family:  "Roboto", sans-serif;
    color: #434455;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    font-style: normal;
    cursor: pointer;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-text {
    color: #2e2f42;
}
address {
    font-style: normal;
}

.address-link {
    color: #434455;
    letter-spacing: 0.02em;
    
}
.address-link:hover, .address-link:focus {
    color: #404bbf;   
}
.nav-link {
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.nav-link:hover, .nav-link:focus {
    color: #404bbf;
}
.hero-section {
    background: #2e2f42;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    letter-spacing: 0.02em;
    text-align: center;

}
.order-button {
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    
}
.order-button:hover, .order-button:focus {
    background-color: #404bbf;
}
.service-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.servise-description {
    letter-spacing: 0.02em;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2e2f42;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}
.team-section {
    background: #f4f4fd;
}
.team-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    
}
.team-member {
    background: #fff;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.team-role {
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.portfolio-category {
    letter-spacing: 0.02em;
}
.footer {
    background: #2e2f42;
}
.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-text {
    color: #f4f4fd;
}

.footer-description {
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
