body {
  color: #434455;
  background: #fff;

  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;

  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
}

.section-title {
  margin-bottom: 72px;
  color: #2e2f42;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
}
.icon-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.icon-svg:hover,
.icon-svg:focus {
  background-color: #404bbf;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.header {
  width: 100%;

  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
  color: #4d5ae5;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
}
.header-nav .nav-link.current {
  position: relative;
  color: #404bbf;
  width: 48px;
  height: 52px;
}
.header-nav .nav-link.current::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 48px;
  height: 4px;
  background: #404bbf;
  left: 0;
  bottom: -20px;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;

  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

address {
  font-style: normal;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #434455;

  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background: #2e2f42;

  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center top;

  max-width: 1440px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  max-width: 526px;
}

.hero-title {
  max-width: 496px;
  color: #fff;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;

  text-align: center;
}

.order-button {
  padding: 16px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 169px;
  background: #4d5ae5;
  color: #fff;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.services-list {
  display: flex;
  justify-content: space-between;
  align-self: start;
}
.service-title {
  margin-bottom: 8px;
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.service-item {
  max-width: calc((100% - 72px) / 4);
  margin-right: 24px;
}

.service-item:last-child {
  margin-right: 0;
}

.container-icon-service {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;

  background: #f4f4fd;
}
.servise-description {
  letter-spacing: 0.02em;
}
.team-section {
  background: #f4f4fd;
}

.team {
  display: flex;
  flex-direction: column;
}
.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  color: #2e2f42;
}

.team-member {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  max-width: calc((100% - 72px) / 4);

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-member:first-child {
  border-radius: 0px 0px 4px 4px;
}
.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.team-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-role {
  margin-bottom: 8px;
  color: #434455;

  text-align: center;
  letter-spacing: 0.02em;
}

.portfolio {
  display: flex;
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-title {
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-item {
  max-width: calc((100% - 48px) / 3);

  background: #fff;
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 164px;
  padding-left: 32px;
  background: #4d5ae5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-images {
  position: relative;
  overflow: hidden;
}
.portfolio-images:hover .overlay {
  transform: translateY(0);
  cursor: pointer;
  transition-property: transform, cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 32px 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-category {
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  gap: 120px;
}
.footer-link {
  margin-bottom: 16px;

  color: #4d5ae5;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
}

.footer-description {
  width: 264px;

  color: #f4f4fd;

  letter-spacing: 0.02em;
}

.social-footer {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer .icon-container {
  margin-top: 16px;
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: #31d0aa;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
