body {
  color: #434455;
  background: #fff;

  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline-block;

  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
}

.section-title {
  color: #2e2f42;

  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}

.header {
  width: 100%;

  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #4d5ae5;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-text {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.nav-link {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #2e2f42;

  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.contact-list {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.address-link {
  padding-top: 24px;
  padding-bottom: 24px;

  color: #434455;

  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  box-sizing: border-box;

  background: #2e2f42;
}
.hero-section .hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 188px;
  padding-bottom: 188px;
  box-sizing: border-box;
}
.hero-section .hero-title {
  margin-bottom: 40px;
  width: 496px;
  height: 120px;
  text-align: center;
}
.hero-title {
  color: #fff;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.order-button {
  padding: 16px 32px;
  border-radius: 4px;

  background: #4d5ae5;
  color: #fff;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.service-title {
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.servise-description {
  letter-spacing: 0.02em;
}

.team-section {
  background: #f4f4fd;
}

.team-list {
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-member {
  background: #fff;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-role {
  color: #434455;

  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

.portfolio-title {
  color: #2e2f42;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-category {
  letter-spacing: 0.02em;
}

.footer {
  background: #2e2f42;
}

.footer-link {
  color: #4d5ae5;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
}

.footer-description {
  color: #f4f4fd;

  letter-spacing: 0.02em;
}
